.contact-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.contact-button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(0, 0, 0);
}

.contact-button:active:after {
  box-shadow: 0 0 0 0 rgb(5, 4, 4);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}

@media (max-width: 1290px) {
  .contact-button {
    display: none;
  }
}